@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: "Source Serif 4", serif;
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbf9f5;
  color: theme("colors.ink");
}

.prose-content p {
  margin-bottom: 1rem;
  line-height: 1.7;
}
